body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


.one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
}

.one-heading {
    display: flex;
    justify-content: space-between;
    padding: 16px 200px;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf9
}

.links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.links {
    display: flex;
    gap: 16px;
}

.one-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 200px;
}

.one-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.one-left-header {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf9
}

.one-left button {
    max-width: 100px;
    background-color: #3882F6;
    color: #f9faf9;
    border: none;
    border-radius: 25px;
}


.one-body img {
    max-width: 300px;
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.two-header {
    display: flex;
    font-weight: bold;
    margin-top: 30px;
    font-size: 32px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 30px;
}

img {
    width: 200px;
    max-height: 200px;
    border-radius: 25px;
}

.three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 80px;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.blue-box {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 80px;
    color: white
}

.text {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    color: #f9faf9;
}

.blue-box-subtext {
    font-size: x-small;
}

.four button {
    background-color: #3882F6;
    color: white;
    border-radius: 25px;
    border: 2px solid #f9faf9;
    width: 100px;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 16px;
    font-size: smaller;
}